/* 
#04202C
#304040
#5B7065
#C9D1C8
 */

/* font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* GLOBAL */
* {
	box-sizing: border-box;
	outline: none;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #304040;
	margin: auto;
	font-size: 1.6rem;
	color: #04202C;
}

/* header */
header {
	text-align: center;
	color: #C9D1C8;
}

/* main */
main {
	width: 80%;
	margin: auto;
}
.setStyle {
	background-color: #C9D1C8;
	border: #5B7065 solid 3px;
	border-radius: 5px;
}
.setStyle h3 {
	text-align: center;
}

/* footer */
footer {
	text-align: center;
	color: #C9D1C8;
}